In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Users/giuliana/miniconda3/lib/python3.11/site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.23.2 in /Users/giuliana/miniconda3/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/giuliana/miniconda3/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/giuliana/miniconda3/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/giuliana/miniconda3/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/giuliana/miniconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.9.9)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [4]:
import psycopg2 as ps

In [5]:
import pandas as pd
import pandas.io.sql as sqlio

In [6]:
#conexão com o banco de dados
conn = ps.connect(dbname = "ANP",
                  user = 'postgres',
                  password = 'DoritoMan5677',
                  host = 'localhost',
                  port = '5432')

In [7]:
sql = """ 
SELECT * FROM anp.preco_combustivel
"""

In [9]:
# trazendo os resultados sql e a conexão com o banco
df = sqlio.read_sql_query(sql, conn)

/var/folders/rx/b37fngts0v1fljw_kvgpxnpm0000gn/T/ipykernel_2254/76855033.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = sqlio.read_sql_query(sql, conn)

In [10]:
df.head()

  regiao estado   municipio  ... valor_venda unidade_medida       bandeira
0      N     AC  RIO BRANCO  ...        6.99     R$ / litro  VIBRA ENERGIA
1      N     AC  RIO BRANCO  ...        5.99     R$ / litro  VIBRA ENERGIA
2      N     AC  RIO BRANCO  ...        6.09     R$ / litro  VIBRA ENERGIA
3      N     AC  RIO BRANCO  ...        7.05     R$ / litro  VIBRA ENERGIA
4      N     AC  RIO BRANCO  ...        6.12     R$ / litro  VIBRA ENERGIA

[5 rows x 15 columns]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4428267 entries, 0 to 4428266
Data columns (total 15 columns):
 #   Column          Dtype
---  ------          -----
 0   regiao          object
 1   estado          object
 2   municipio       object
 3   revenda         object
 4   cnpj            object
 5   nome_rua        object
 6   numero_rua      object
 7   complemento     object
 8   bairro          object
 9   cep             object
 10  produto         object
 11  data_coleta     object
 12  valor_venda     float64
 13  unidade_medida  object
 14  bandeira        object
dtypes: float64(1), object(14)
memory usage: 506.8+ MB

In [13]:
df.shape

(4428267, 15)

In [14]:
df['data_coleta'] = pd.to_datetime(df['data_coleta'])

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4428267 entries, 0 to 4428266
Data columns (total 15 columns):
 #   Column          Dtype
---  ------          -----
 0   regiao          object
 1   estado          object
 2   municipio       object
 3   revenda         object
 4   cnpj            object
 5   nome_rua        object
 6   numero_rua      object
 7   complemento     object
 8   bairro          object
 9   cep             object
 10  produto         object
 11  data_coleta     datetime64[ns]
 12  valor_venda     float64
 13  unidade_medida  object
 14  bandeira        object
dtypes: datetime64[ns](1), float64(1), object(13)
memory usage: 506.8+ MB